@use "sass:map";
@font-face {
  font-family: "Roboto";
  src: url("../src/assets/fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("../src/assets/fonts/Poppins/Poppins-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
}

.bg-white {
  background-color: #fff !important;
}

.bg-gray {
  background-color: #f4f6f9 !important;
}

.ff-roboto {
  font-family: "Roboto";
}

.ff-poppins {
  font-family: "Poppins";
}
